.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  height: 150px;
  width: 150px;
}

li {
  list-style-type: none;
}

.postItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.items {
  display: flex;
  justify-content: space-between;
}
